03_20.02-klassikomplekt/.idea/workspace.xml
03_20.02-klassikomplekt/.idea/httpRequests/http-requests-log.http
03_20.02-klassikomplekt/.idea/httpRequests/http-client.cookies
03_20.02-klassikomplekt/.idea/httpRequests/2026-05-07T212153.200.json
03_20.02-klassikomplekt/.idea/httpRequests/2026-05-07T212127.200.json
03_20.02-klassikomplekt/.idea/httpRequests/2026-05-07T212126.200.json
03_20.02-klassikomplekt/.idea/httpRequests/2026-05-07T212110.200.json
02_13.02-veateated/.idea/workspace.xml
